<md-content class="md-padding">
	<div flex-sm="100" flex-gt-sm="80" layout-sm="column">
		<form name="projectForm" ng-submit="plans.submit()">
			
			<md-input-container layout="row">
				<label>API Key</label>
				<input required type="text" name="apiKey" id="apiKey" value="prtl6749387986743898559646983194"></input>
			</md-input-container>
			
			<md-input-container>
				<label>Lugar: </label>
				<input required type="text" name="searchplace" id="searchplace" value="Barcelona"></input>
			</md-input-container>
			
			<md-datepicker required ng-model="plans.placedate" md-placeholder="Fecha" name="placedate" id="placedate"></md-datepicker>

			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				<md-button type="submit" aria-label="Find" class="md-raised md-primary">BUSCAR</md-button>
			</section>
		</form>
	</div>
	<div>
		<h4>RESULTS</h4>
		<div>
			{{plans.plansData}}
		</div>
	</div>
</md-content>