<md-content class="md-padding">
	<div flex-sm="100" flex-gt-sm="80" layout-sm="column">
		<form name="projectForm" ng-submit="hotels.submit()">
			<md-input-container layout="row">
				<label>API Key</label>
				<input required type="text" name="apiKey" id="apiKey" value="prtl6749387986743898559646983194"></input>
			</md-input-container>

			<md-input-container>
				<label>Origen</label>
				<input required type="text" name="entityid" id="entityid" value="27544008"></input>
			</md-input-container>
			
			<md-datepicker required ng-model="hotels.checkindate" md-placeholder="Check-in" name="checkindate" id="checkindate"></md-datepicker>
			
			<md-datepicker required ng-model="hotels.checkoutdate" md-placeholder="Check-out" name="checkoutdate" id=""checkoutdate""></md-datepicker>
			
			<md-input-container>
				<label>Pais</label>
				<input required type="text" name="country" id="country" value="ES"></input>
			</md-input-container>

			<md-input-container>
				<label>Idioma</label>
				<input required type="text" name="locale" id="locale" value="es-ES"></input>
			</md-input-container>

			<md-input-container>
				<label>Moneda</label>
				<input required type="text" name="currency" id="currency" value="EUR"></input>
			</md-input-container>

			<md-input-container>
				<label>Adultos</label>
				<input required type="text" name="adults" id="adults" value="2"></input>
			</md-input-container>

			<md-input-container>
				<label>Habitaciones</label>
				<input required type="text" name="rooms" id="rooms" value="1"></input>
			</md-input-container>

			<md-input-container>
				<label>Núm. Imágenes (1-50)</label>
				<input required type="text" name="imageLimit" id="imageLimit" value="3"></input>
			</md-input-container>

			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				<md-button type="submit" aria-label="Find" class="md-raised md-primary">BUSCAR</md-button>
			</section>
		</form>
	</div>
	<div>
		<h4>RESULTS</h4>
		<div>
			{{hotels.hotelsData}}
		</div>
	</div>
</md-content>