<md-content class="md-padding">
	<div flex-sm="100" flex-gt-sm="80" layout-sm="column">
		<form name="projectForm" ng-submit="flights.submit()">
			<md-autocomplete md-input-name="autocompleteFieldOrigin" md-selected-item="flights.selectedItemOrigin" 
				md-search-text="flights.searchTextOrigin"
				md-selected-item-change="flights.selectedItemChangeOrigin()" 
				md-items="item in flights.searchTextChangeOrigin()" md-item-text="item.PlaceName" 
				md-floating-label="Origen">
				<md-item-template>
					<span md-highlight-text="flights.searchTextOrigin">{{item.PlaceName}} ({{item.PlaceId}})</span>
				</md-item-template>
			</md-autocomplete>
			
			<md-autocomplete md-input-name="autocompleteFieldDest" md-selected-item="flights.selectedItemDest" 
				md-search-text="flights.searchTextDest"
				md-selected-item-change="flights.selectedItemChangeDest()" 
				md-items="item in flights.searchTextChangeDest()" md-item-text="item.PlaceName" 
				md-floating-label="Destino">
				<md-item-template>
					<span md-highlight-text="flights.searchTextDest">{{item.PlaceName}} ({{item.PlaceId}})</span>
				</md-item-template>
			</md-autocomplete>
			
			<md-checkbox class="md-primary" aria-label="Group Pricing" name="groupPricing" id="groupPricing" layout="row" ng-model="flights.formData.groupPricing">
				Group Pricing
			</md-checkbox>
			
			<md-datepicker required md-placeholder="Fecha de salida" name="outboundDate" id="outboundDate" ng-model="flights.formData.outboundDate"></md-datepicker>
			
			<md-datepicker md-placeholder="Fecha de regreso" name="inboundDate" id="inboundDate" ng-model="flights.formData.inboundDate" ></md-datepicker>
			
			<md-input-container>
				<label>Pais</label>
				<input required type="text" name="country" id="country" ng-model="flights.formData.country"></input>
			</md-input-container>

			<md-input-container>
				<label>Idioma</label>
				<input required type="text" name="locale" id="locale" ng-model="flights.formData.locale"></input>
			</md-input-container>

			<md-input-container>
				<label>Moneda</label>
				<input required type="text" name="currency" id="currency" ng-model="flights.formData.currency"></input>
			</md-input-container>

			<md-input-container>
				<label>Adultos</label>
				<input required type="text" name="adults" id="adults" ng-model="flights.formData.adults"></input>
			</md-input-container>

			<md-input-container>
				<label>Niños</label>
				<input required type="text" name="children" id="children" ng-model="flights.formData.children"></input>
			</md-input-container>

			<md-input-container>
				<label>Bebes</label>
				<input required type="text" name="infants" id="infants" ng-model="flights.formData.infants"></input>
			</md-input-container>

			<md-select placeholder="Location Schema" name="locationSchema" id="locationSchema" ng-model="flights.formData.locationSchema">
	        	<md-option value="Iata">Iata</md-option>
	            <md-option value="GeoNameCode">GeoNameCode</md-option>
	            <md-option value="GeoNameId">GeoNameId</md-option>
	            <md-option value="Rnid">Rnid</md-option>
	            <md-option value="Sky">Sky</md-option>
	            <md-option value="Default">Default</md-option>  
			</md-select>
			
			<md-select placeholder="Cabin Class" name="cabinClass" id="cabinClass" ng-model="flights.formData.cabinClass">
	        	<md-option value="Economy">Economy</md-option>
	            <md-option value="PremiumEconomy">PremiumEconomy</md-option>
	            <md-option value="Business">Business</md-option>
	            <md-option value="First">First</md-option>
			</md-select>

			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				<md-button type="submit" aria-label="Find" class="md-raised md-primary">BUSCAR</md-button>
			</section>
		</form>
	</div>
<!-- 	<div> -->
<!-- 		<h4>RESULTS</h4> -->
<!-- 		<table id="flightsData" border="1"> -->
<!-- 			{{flights.flightsData}} -->
<!-- 		</table> -->
<!-- 	</div> -->
	<table>
		<tr>
<!-- 			<th>ida ID</th> -->
			<th>ida ORIGEN</th>
			<th>ida DESTINO</th>
			<th>ida SALIDA</th>
			<th>ida LLEGADA</th>
			<th>ida N. ESCALAS</th>
			<th>ida MINUTOS DEL VIAJE</th>
			<th>ida COMPAÑIAS</th>
<!-- 			<th>vuelta ID</th> -->
			<th>vuelta ORIGEN</th>
			<th>vuelta DESTINO</th>
			<th>vuelta SALIDA</th>
			<th>vuelta LLEGADA</th>
			<th>vuelta N. ESCALAS</th>
			<th>vuelta MINUTOS DEL VIAJE</th>
			<th>vuelta COMPAÑIAS</th>
			<th>PRECIOS</th>
		</tr>
		<tr ng-repeat="itinerary in flights.flightsData.itineraryList">
<!-- 			<td>{{itinerary.outboundFlight.id}}</td> -->
			<td>{{itinerary.outboundFlight.originStation.name}}({{itinerary.outboundFlight.originStation.code}})</td>
			<td>{{itinerary.outboundFlight.destinationStation.name}}({{itinerary.outboundFlight.destinationStation.code}})</td>
			<td>{{itinerary.outboundFlight.departure}}</td>
			<td>{{itinerary.outboundFlight.arrival}}</td>
			<td>{{itinerary.outboundFlight.stops}}</td>
			<td>{{itinerary.outboundFlight.durationInMinutes}}</td>
			<td><div ng-repeat="carrier in itinerary.outboundFlight.marketingCarriers">{{carrier.name}}({{carrier.code}})<img ng-src="{{carrier.imageUrl}}" height="20" width="20"></img></div></td>
<!-- 			<td>{{itinerary.inboundFlight.id}}</td> -->
			<td>{{itinerary.inboundFlight.originStation.name}}({{itinerary.inboundFlight.originStation.code}})</td>
			<td>{{itinerary.inboundFlight.destinationStation.name}}({{itinerary.inboundFlight.destinationStation.code}})</td>
			<td>{{itinerary.inboundFlight.departure}}</td>
			<td>{{itinerary.inboundFlight.arrival}}</td>
			<td>{{itinerary.inboundFlight.stops}}</td>
			<td>{{itinerary.inboundFlight.durationInMinutes}}</td>
			<td><div ng-repeat="carrier in itinerary.inboundFlight.marketingCarriers">{{carrier.name}}({{carrier.code}})<img ng-src="{{carrier.imageUrl}}" height="20" width="20"></img></div></td>
			<td><div ng-repeat="price in itinerary.prices">{{price.amount}}€ {{price.agent.name}}<img ng-src="{{price.agent.imageUrl}}"></img></div></td>
		</tr>
	</table>
</md-content>